@font-face {
	font-family: Biko;
	src: url('fonts/Canter Bold.otf');
}
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	color:white;
	font-family: Biko;
}
.full {
  background: url('img/int.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.buffered{
	margin-top:25px;
}
.micro-buffered{
	margin-top:25px;
	max-width:75px;
}