<!DOCTYPE html>
<html class="full" lang="en" ng-app>
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{.Title}}</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link href="jQueryAssets/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
	<link href="jQueryAssets/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
	<link href="jQueryAssets/jquery.ui.progressbar.min.css" rel="stylesheet" type="text/css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="jQueryAssets/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="jQueryAssets/jquery.ui-1.10.4.progressbar.min.js" type="text/javascript"></script>
    
    <!-- Gov APO Key  bhnKf81FrVPMHpmGw3QYgC3TsovarLZl0qlS6X3k -->
</head>

<style>
@font-face {
	font-family: Biko;
	src: url('fonts/CG.otf');
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	color:white;
	font-family: Biko;
}
.full {
  background: url('img/int3.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.macro-buffered{
	margin-top:25px;
	min-width:300px;
	max-width: 210px;
}
.buffered{
	margin-top:25px;
	min-width:175px;
}
.micro-buffered{
	margin-top:25px;
	max-width:75px;
}
.input-side {
	font-family: 'PT Sans', sans-serif;
}
</style>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->  
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">InternetAtlas.io</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Legals</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
                <h1 class="header1">Internet Atlas</h1>
                <p>Discover more about your interwebs then just the pipes.</p>
            </div>
          <div class="col-md-6 col-sm-12 text-right">
          <form class="form-inline col-md-6 col-lg-12" role="form">
            <button ng-click="add()" class="btn btn-primary buffered">Add Address</button>
            <button type="submit"  ng-click="res()" id="action-button" class="btn btn-primary buffered">Compare</button>
           </div>
        </div>

                
            <div class="col-sm-12 input-side">
              <form class="form-inline col-md-6 col-lg-12" role="form">
                    <div ng-controller="Note">
                  <div class="col-lg-offset-0 col-lg-12 text-center" ng-repeat="item in items">
                        <input type="text" placeholder="Address" class="form-control macro-buffered" ng-model="item.address">
                        <input type="text" placeholder="City" class="form-control buffered" ng-model="item.city">
                        <input type="text" placeholder="State" class="form-control micro-buffered" ng-model="item.state">
                      </div>
                      
           	  </form>
      </div>
</div>
    </div>
</div>
</div>
	
	<script type="text/javascript">
      var Note = function($scope){
        $scope.items = [];
        $scope.add = function () {
			if ($scope.items.length < 9) {
				$scope.items.push({ 
					address: "",
					city:"",
					state:""
				  });
			} else {
				alert("Thats one too many for this app.")	
			}
        };
		 
		$scope.res = function () {
			var str = "";
			if ($scope.items.length < 10){
				for(var i = 0; i < $scope.items.length; i++) {
					str = str + "`" + $scope.items[i].address + "`" + $scope.items[i].city + "`" + $scope.items[i].state + "~";
					//alert(str);
				}
				$.get("http://www.rebirtharmitage.com:8081/hello/" + str);
			}else{
				alert("Too many items!")
			}
		}
      }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    
    <!-- /.container -->
    <script type="text/javascript" 
         src="http://jquery-jsonp.googlecode.com/files/jquery.jsonp-1.0.4.min.js">
    </script>
    
    <!-- jQuery --> 
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function() {
	$( "#Progressbar1" ).progressbar(); 
});
$(function() {
	$( "#Progressbar1" ).progressbar(); 
});
$(function() {
	$( "#Progressbar2" ).progressbar(); 
});
</script>
</body>

</html>